version: '3.9'

services:
  web:
    build: .
    container_name: django_web
    command: gunicorn project.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
    volumes:
      - .:/app

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  worker:
    build: .
    container_name: celery_worker
    command: celery -A project worker -l info
    depends_on:
      - redis
      - web
    env_file:
      - .env
    volumes:
      - .:/app

  beat:
    build: .
    container_name: celery_beat
    command: celery -A project beat -l info
    depends_on:
      - redis
      - web
    env_file:
      - .env
    volumes:
      - .:/app
