# ==========================
# Django + REST
# ==========================
Django==5.1.7
djangorestframework==3.16.1
django-cors-headers

# ==========================
# Celery + Redis
# ==========================
celery==5.5.3
redis==7.0.1

# ==========================
# AI: PyTorch + Whisper
# ==========================
numpy
torch==2.4.0
torchaudio==2.4.0
openai-whisper==20250625
numba==0.62.1
llvmlite==0.45.1
soundfile==0.13.1
librosa

# ==========================
# LLM + API Client
# ==========================
openai==2.6.1
tiktoken==0.12.0
httpx==0.28.1

# ==========================
# Media / Utils
# ==========================
pillow==12.0.0
python-dotenv==1.0.1
requests==2.32.5
certifi

# ==========================
# Dependencies auto-required
# ==========================
typing-extensions

# ==========================
# Other dependencies
# ==========================
django-celery-beat==2.8.1
drf-yasg==1.21.11
asteroid==0.7.0
django-environ==0.4.5
gunicorn==22.0.0
certifi==2024.8.30

