name: Backend CI with Docker

on:
  pull_request:
    branches: [main, dev] # 특정 브랜치에 PR 이벤트 발생 시(열림/수정/리오픈 등) CI 실행
    paths:
      - 'backend/**'
  push:
    branches: [main, dev] # 특정 브랜치로 직접 push될 때도 CI 실행
    paths:
      - 'backend/**'

  env:
    IMAGE: ${{ secrets.DOCKER_USERNAME }}/soribom-be  # Docker Hub 이미지명(소문자 필수)
    PYTHON_VERSION: "3.10"

jobs:
  build-and-push: # 1) 빌드 전용 Job — PR과 push 모두 실행
    name: Build & Push Docker Image
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests
        run: |
          python manage.py test

      - name: Package backend artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-artifact
          path: backend/

    docker-push: # 2) Docker 이미지 빌드 및 푸시 전용 Job — 오직 push 이벤트에서만 실행
      name: Build and Push Docker Image
      if: github.event_name != 'pull_request' &&
        (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev')
      needs: build # build job 성공 시에만 실행
      runs-on: ubuntu-latest

      steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Download backend artifact
        uses: actions/download-artifact@v4
        with:
          name: backend-artifact
          path: backend

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./backend      # backend 폴더 기준 빌드
          file: ./backend/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE }}:latest
            ${{ env.IMAGE }}:${{ github.sha }}
        
      - name: Print Docker image info
        run: docker images ${{ env.IMAGE }}
