name: CI with Docker

on:
  push:
    branches: [main, dev]
    paths:
      - 'backend/**'
  pull_request:
    branches: [main, dev]
    paths:
      - 'backend/**'

jobs:
  build:
    name: Build Backend & Push Docker Image
    runs-on: ubuntu-latest

    env:
      IMAGE: ${{ secrets.DOCKER_USERNAME }}/soribom-be

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE }}:latest
            ${{ env.IMAGE }}:${{ github.sha }}

      - name: Print Image Info
        run: docker images ${{ env.IMAGE }}
